.place__paragraph {
    font-family: Inter, Arial, Helvetica, sans-serif;
    max-width: 484px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph { 
        max-width: 456px;
        margin: 0 0 27px 0;
    }
}

@media screen and (max-width: 927px) {
    .place__paragraph { 
        max-width: 352px;
        margin: 0 0 25px 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 719px) {
    .place__paragraph { 
        max-width: 288px;
        margin: 0 auto 25px;
        font-size: 16px;
    }
}

