.place {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 927px) {
    .place { 
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 719px) {
    .place { 
        flex-direction: column;
        padding-bottom: 50px;
    }
}